return {
  'stevearc{{ .chezmoi.pathSeparator }}oil.nvim',
  opts = {},
  -- Optional dependencies
  dependencies = { 'nvim-tree{{ .chezmoi.pathSeparator }}nvim-web-devicons' },
  config = function()
    require('oil').setup()
    vim.keymap.set('n', '-', '<CMD>Oil<CR>', { desc = 'Open parent directory' })
  end,
}
