---
name{{ .chezmoi.pathListSeparator }} Bug report
about{{ .chezmoi.pathListSeparator }} Create a report to help us improve
title{{ .chezmoi.pathListSeparator }} ''
labels{{ .chezmoi.pathListSeparator }} ''
assignees{{ .chezmoi.pathListSeparator }} ''

---

<!-- Any bug report not following this template will be immediately closed. Thanks -->

## Describe the bug
<!-- A clear and concise description of what the bug is. -->

## To Reproduce
<!-- Steps to reproduce the behavior. -->
1. ...

## Desktop
<!-- please complete the following information. -->
- OS{{ .chezmoi.pathListSeparator }} 
- Terminal{{ .chezmoi.pathListSeparator }} 

## Neovim Version
<!-- Output of running `{{ .chezmoi.pathListSeparator }}version` from inside of neovim. -->

```
```
