return { -- Collection of various small independent plugins{{ .chezmoi.pathSeparator }}modules
  'echasnovski{{ .chezmoi.pathSeparator }}mini.nvim',
  config = function()
    -- Better Around{{ .chezmoi.pathSeparator }}Inside textobjects
    --
    -- Examples{{ .chezmoi.pathListSeparator }}
    --  - va)  - [V]isually select [A]round [)]paren
    --  - yinq - [Y]ank [I]nside [N]ext [Q]uote
    --  - ci'  - [C]hange [I]nside [']quote
    require('mini.ai').setup { n_lines = 500 }

    -- Add{{ .chezmoi.pathSeparator }}delete{{ .chezmoi.pathSeparator }}replace surroundings (brackets, quotes, etc.)
    --
    -- - saiw) - [S]urround [A]dd [I]nner [W]ord [)]Paren
    -- - sd'   - [S]urround [D]elete [']quotes
    -- - sr)'  - [S]urround [R]eplace [)] [']
    require('mini.surround').setup()

    -- Simple and easy statusline.
    --  You could remove this setup call if you don't like it,
    --  and try some other statusline plugin
    local statusline = require 'mini.statusline'
    -- set use_icons to true if you have a Nerd Font
    statusline.setup { use_icons = vim.g.have_nerd_font }

    -- You can configure sections in the statusline by overriding their
    -- default behavior. For example, here we set the section for
    -- cursor location to LINE{{ .chezmoi.pathListSeparator }}COLUMN
    ---@diagnostic disable-next-line{{ .chezmoi.pathListSeparator }} duplicate-set-field
    statusline.section_location = function()
      return '%2l{{ .chezmoi.pathListSeparator }}%-2v'
    end

    -- ... and there is more!
    --  Check out{{ .chezmoi.pathListSeparator }} https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}github.com{{ .chezmoi.pathSeparator }}echasnovski{{ .chezmoi.pathSeparator }}mini.nvim
  end,
}
