-- autopairs
-- https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}github.com{{ .chezmoi.pathSeparator }}windwp{{ .chezmoi.pathSeparator }}nvim-autopairs

return {
  'windwp{{ .chezmoi.pathSeparator }}nvim-autopairs',
  event = 'InsertEnter',
  opts = {},
}
