return {
  { -- Add indentation guides even on blank lines
    'lukas-reineke{{ .chezmoi.pathSeparator }}indent-blankline.nvim',
    -- Enable `lukas-reineke{{ .chezmoi.pathSeparator }}indent-blankline.nvim`
    -- See `{{ .chezmoi.pathListSeparator }}help ibl`
    main = 'ibl',
    opts = {},
  },
}
